/* Splash screen */
#splash-screen {
    position: fixed;
    inset: 0;
    background: linear-gradient(135deg, #e0f7fa, #cceeff);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease;
}

#splash-logo {
    width: 200px;
    height: auto;
}

/* Animation de sortie */
#splash-screen.fade-out {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.8s ease;
}